#account {
	margin-left: auto;
	text-align: center;
	margin-right: auto;
	width: 30%;
	margin-top: 5%;
}

#account form {
	display: grid;
    grid-row-gap: 10px;
    grid-template-columns: auto auto;
    text-align: left;
}